* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.teaminfo{
    width: 100%;
    margin: 10px 10px;
    background-color: #fff;
}

.body-card{
    padding: 20px 0;
    text-align: center;
}

.body-style{
    font-weight: 700;
    font-size: 25px;
}

/* media query */
@media screen and (min-width: 768px){
    .card-member{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (min-width: 1024px){
    .card-member{
        width: calc(100% / 3 - 20px);
    }
}